@model WeatherModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Weather Application</h1>
        <form asp-controller="Home" asp-action="GetWeatherDetails" method="post" class="form-inline justify-content-center">
            <div class="form-group mb-2">
                <input type="text" name="location" class="form-control mr-2" placeholder="Enter location" required />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>

    <div class="mt-5 text-center">
        @if (Model != null)
        {
            <div class="card p-4">
                <h5 class="card-title">City: @Model.location.name</h5>
                <p class="card-text">Country: @Model.location.region, @Model.location.country</p>
                <p class="card-text">Time: @Model.location.localtime</p>
                <p class="card-text">Temperature: @Model.current.temperature &deg;C</p>
                <p class="card-text">Weather: @Model.current.weather_descriptions[0].ToString()</p>
            </div>
        }
        else if (ViewData.ContainsKey("IsFormSubmitted") && (bool)ViewData["IsFormSubmitted"])
        {
            <p class="text-danger">@ViewData["Message"]</p>
        }
    </div>
</div>

